{% extends "base.html" %}

{% block content %}

{% if spanish %}
<h1>Fotos</h1>
<p>Por si tenías curiosidad, estas son algunas fotos del salón donde ser&aacute;
la fiesta.</p>

{% else %}

<h1>Photos</h1>
<p>For if you were curious, these are some photos of the hall where the
party is going to be held.</p>

{% endif %}


<img class="foto" src="/static/images/fotos/1.jpg" />
<img class="foto" src="/static/images/fotos/2.jpg" />
<img class="foto" src="/static/images/fotos/3.jpg" />
<img class="foto" src="/static/images/fotos/4.jpg" />
<img class="foto" src="/static/images/fotos/5.jpg" />
<img class="foto" src="/static/images/fotos/6.jpg" />
<img class="foto" src="/static/images/fotos/7.jpg" />
<img class="foto" src="/static/images/fotos/8.jpg" />
<img class="foto" src="/static/images/fotos/9.jpg" />
<img class="foto" src="/static/images/fotos/10.jpg" />
<img class="foto" src="/static/images/fotos/11.jpg" />
<img class="foto" src="/static/images/fotos/12.jpg" />

{% endblock %}

