{% extends "restricted.html" %}

{% block content %}

<h1>Listado de tarjetas a imprimir</h1>
<form action="/tarjetas/imprimir" method="POST">
<table>
{% for invite in invites %}
<tr>
<td><input type="checkbox" name="code" value="{{ invite.id }}"/></td>
<td style="padding:0 20px">{{ invite.to }}</td>
<td style="padding:0 20px"><b>{{ invite.code }}</b></td>
<td style="padding:0 20px"><a href="/tarjetas/{{ invite.id }}">Imprimir</a></td>
</tr>
{% endfor %}
</table>
<input type="submit" name="print" value="Imprimir todas las seleccionadas"/>
</form>
{% endblock %}

