{% extends "base.html" %}

{% block content %}

<div class="error">
Al igual que la <a hre="/es/rsvp">confirmación de asistencia</a> agradecerímos que el pago de las tarjetas esté hecho <strong>cuanto antes</strong> y así poder tener las listas definitivas de invitados para entregar los <strong>primeros días de Septiembre</strong>.
</div>

<h1>Cómo pagar la tarjeta</h1>
<dl>
<dt><b>Opción 1: Transferencia bancaria</b></dt>
<dd>
<p>Desde cualquier cajero automático deberían poder transferir a la caja de ahorros del Mati, usando estos datos:</p>
<pre class="tarjeta">
Banco: Santander Río
Titular: Bellone, Matías Agustín
CUIL: 20-31647208-8
Tipo de cuenta: Caja de ahorros en pesos
CBU: 0720066388000013033136
</pre>

<p>O si prefieren una cuenta de otro banco o transferirle a la Pau, pueden usar los siguientes datos:</p>
<pre class="tarjeta">
Banco: Nación
Titular: Zeballos, María Paula
CUIL: 27-31057171-2
Tipo de cuenta: Caja de ahorros en pesos
CBU: 0110213230021394619101
</pre>

<p><strong>Avisen</strong> cuando hagan la transferencia (con un <a href="/es/mensajes">mensaje</a>, sms, mail o como sea) 
así sabemos de quién es la plata.</p>
<p></p>
</dd>

<dt><b>Opción 2: Nos avisan</b></dt>
<dd><p>Nos avisan de alguna forma (por sms, mail o dejandonos un <a href="/es/mensajes">mensaje</a>) y arreglamos 
para que nos la puedan acercar.</p></dd>

</dl>
</p>
{% endblock %}

